[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "/Users/Erik/.dotfiles/.vim/bundle/Vundle.vim"]
	path = /Users/Erik/.dotfiles/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
